@charset "UTF-8";


body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;

}

.flex-conteiner {
    background-color: darkgrey;
    padding: 10px;
}

.mid-text {
    display: flex;
    flex-flow: row wrap-reverse;
    justify-content: center;

}

.text-mid {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.text {
    flex: 1 1 300px;
}