@charset "UTF-8";

* {
    margin: 0px;

}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;

}

header {
    margin: 10px;
}

.flex-conteiner {
    background-color: darkgrey;
    padding: 10px;
    border: 3px dotted black;
}

.mid-text {
    display: flex;
    flex-flow: row wrap-reverse;
    justify-content: center;
    border: 3px dotted rgb(19, 15, 255);

}

.text-mid {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    border: 3px dashed rgb(19, 15, 255);
}

.text {
    flex: 1 1 300px;

    min-width: 400px;
    border: 3px dotted rgb(239, 20, 20);

}

.normal {
    margin: 10px;
}