@charset "UTF-8";

/*Declarações Gerais*/
* {
    margin: 0px;
    padding: 0px;
}

html,
body {
    width: 100vw;
    height: 100vh;
    background-color: #233eff;
    background-repeat: no-repeat;
    background-size: contain;

}

h1 {
    color: white;
    text-shadow: 0px 0px 3px #122087;
    padding: 10px;

}

/*Declarações Retrato*/
@media screen and (orientation: portrait) {
    body {
        background-image: url(../imagens/cev-portrait.jpg);
        background-position: center bottom;


    }


}

/*Declarações Paisagen*/
@media screen and (orientation: landscape) {
    body {
        background-image: url(../imagens/cev-landscape.jpg);
        background-position: left bottom;
    }


}