@charset "UTF-8";

/*Todas as demais mídias*/

/*Pesquise sobre: Typical Device Breakpoints

Pequenas telas:  max-width: 0px      -     600px
Celular:         min-width: 600px    -     767px
Tablet:          min-width: 768px    -     991px
Desktop:         min-width: 992px    -     1199px
Grandes telas:   min-width: 1200px   -     +++
*/

@media print {

    /*IMPRESSORA - background para impressora é desnecessario pois não aparece na impressao, está ai meramente por intuito de aprendizado*/
    * {
        font-family: 'Courier New', Courier, monospace;

    }

    body {
        background-image: url(../imagens/back-print.jpg);

    }

    main {
        border: 2px solid black;
        width: 90vw;
    }

    main h1 {
        text-shadow: none;
        color: black;
    }

    main::after {
        contain: ('Essa impressão foi feita através do site www.cursoemvideo.com');
        text-decoration: overline;
        /*cria uma linha em cima do texto.*/
    }



    img#phone {
        display: none;
    }

    img#tablet {
        display: none;
    }

    img#print {
        display: block;
    }

    img#pc {
        display: none;
    }

    img#tv {
        display: none;
    }

}

@media screen and (min-width:768px) and (max-width:991px) {

    /*TABLET*/
    body {
        background-image: url(../imagens/back-tablet.jpg);
    }

    img#phone {
        display: none;
    }

    img#tablet {
        display: block;
    }

    img#print {
        display: none;
    }

    img#pc {
        display: none;
    }

    img#tv {
        display: none;
    }

}

@media screen and (min-width:992px) and (max-width:1199px) {

    /*DESKTOP*/
    body {
        background-image: url(../imagens/back-pc.jpg);
    }

    img#phone {
        display: none;
    }

    img#tablet {
        display: none;
    }

    img#print {
        display: none;
    }

    img#pc {
        display: block;
    }

    img#tv {
        display: none;
    }


}

@media screen and (min-width:1200px) {

    /*GRANDES TELAS*/
    body {
        background-image: url(../imagens/back-tv.jpg);
    }

    img#phone {
        display: none;
    }

    img#tablet {
        display: none;
    }

    img#print {
        display: none;
    }

    img#pc {
        display: none;
    }

    img#tv {
        display: block;
    }

}