@charset "UTF-8";

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: grid;
    grid-template: 70px 40px 1fr 90px/ 1fr 150px;
    gap: 10px;

    width: 100vw;
    height: 100vh;
}

.caixa {
    background-color: lightslategrey;
    border: 2px dashed black;
    padding: 10px;
    text-align: center;
}

#topo {
    grid-area: 1/1/2/-1;
}

#menu {
    grid-area: 2/1/3/-1;
}

#principal {
    grid-area: 3/1/4/-2;
}

#anuncios {
    grid-area: 3/2/4/-1;
}

#rodape {
    grid-area: 4/1/5/-1;
}